<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ABOUT US</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <style>
       h3{
        font-family: monospace;
        display: flex;
        justify-content: center;
        color:lightcoral;
       }
    </style>
    <link rel="stylesheet" href="style.css">
</head>
<body style="background-color: beige;">
  <div class="login-with form" style="margin-bottom:3rem ;flex-direction: row; margin-top:3rem;margin-left: 26.5rem; width:20rem;">
    <button class="button-confirm" style="width: 15rem;">About Us</button>
</div>


<h3> What is use of our application?</h3>
<p style="margin: 1rem 2.5rem;">

The Malnutrition Prediction Tool & Community Application offers an innovative approach to combating malnutrition by leveraging technology to empower individuals, foster supportive communities, and improve health outcomes.
Through collaboration and innovation, we aim to make significant strides towards eradicating malnutrition and promoting wellness for all.
 Our solution provides personalized risk assessments through the Malnutrition Prediction Tool and facilitates community engagement via the Community Application, encouraging users to support each other towards better health outcomes.
 Join us in our mission to build a healthier, more equitable world for generations to come.

</p>
<br/>
<div class="d-inline-flex gap-3" style="margin-left: 4rem;">
<p>
  <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample1" aria-expanded="false" aria-controls="collapseWidthExample">
    Improved Health Outcomes
  </button>
</p>
<div style="min-height: 120px;">
  <div class="collapse collapse-horizontal" id="collapseWidthExample1">
    <div class="card card-body" style="width: 300px;">
      By facilitating early detection and intervention, our solution can lead to improved health outcomes, reducing the prevalence of malnutrition-related illnesses and complications.
    </div>
  </div>
</div>
<p>
  <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample2" aria-expanded="false" aria-controls="collapseWidthExample">
    Cost Savings
  </button>
</p>
<div style="min-height: 120px;">
  <div class="collapse collapse-horizontal" id="collapseWidthExample2">
    <div class="card card-body" style="width: 300px;">
      Early identification and preventive measures can result in cost savings for healthcare systems by reducing the need for expensive medical treatments and hospitalizations associated with malnutrition-related complications.
    </div>
  </div>
</div>
<p>
  <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample3" aria-expanded="false" aria-controls="collapseWidthExample">
    Long-Term Wellness
  </button>
</p>
<div style="min-height: 120px;">
  <div class="collapse collapse-horizontal" id="collapseWidthExample3">
    <div class="card card-body" style="width: 300px;">
      By empowering individuals to make informed nutritional choices and access community support, our solution promotes long-term wellness and resilience against malnutrition, contributing to overall health and quality of life.
    </div>
  </div>
</div>
<p>
  <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample4" aria-expanded="false" aria-controls="collapseWidthExample">
    Data-Driven Insights
  </button>
</p>
<div style="min-height: 120px;">
  <div class="collapse collapse-horizontal" id="collapseWidthExample4">
    <div class="card card-body" style="width: 300px;">
      The collection and analysis of user data provide valuable insights into malnutrition trends, enabling policymakers and healthcare providers to implement targeted interventions and allocate resources more effectively.
    </div>
  </div>
</div>
<p>
  <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample5" aria-expanded="false" aria-controls="collapseWidthExample">
    Capacity Building
  </button>
</p>
<div style="min-height: 120px;">
  <div class="collapse collapse-horizontal" id="collapseWidthExample5">
    <div class="card card-body" style="width: 300px;">
      By engaging communities in the fight against malnutrition, our solution builds local capacity for sustainable solutions, fostering a culture of health and well-being that extends beyond the immediate scope of our intervention.
    </div>
  </div>
</div>
</div>


</body>
</html>