<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="style.css">
</head>
<body style="background-image: linear-gradient(to top, #fddb92 10%, #d1fdff 100%);background-size: cover;background-repeat: no-repeat; height:600px;">
  <div style="display: flex; flex-direction: row;">
  <div>
  <div>
  <h2><i style="color: beige; text-shadow: lightblue;">Malnutrition<br> Predictor</i></h2>
  </div>
 <div class="login-with form" style="margin: 2rem 3rem;flex-direction: row;  width:20rem;">
  <button class="button-confirm" style="width: 15rem;"><a href="login.html">Login</a></button>
</div>
<div class="login-with form" style="margin: 2rem 3rem;flex-direction: row; width:20rem;">
<button class="button-confirm" style="width: 15rem;"><a href="signup.html">Sign Up</a></button>
</div>
</div>
<div style="margin-left: 3rem; margin-top:10rem;">
  <img style="width:40rem;" src="https://th.bing.com/th/id/R.5a0fb62f71e9baa586f40e511a8b1b8b?rik=p87%2bheVYPDtVeA&riu=http%3a%2f%2fclipart-library.com%2fimages_k%2fhealthy-food-transparent%2fhealthy-food-transparent-22.png&ehk=nDwHjVL31aAJj7tb7%2b5dkaYl%2f2a6fULRppIqU9sq1Ts%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1" alt="Malnutrition">
 </div>
</div>

</body>
</html>