.form {
    --input-focus: #2d8cf0;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: beige;
    --main-color: black;
    padding: 20px  0px;
    margin: 3rem 5rem;
    background: lightblue;
    display: flex;
    width:25rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
  }

  .title {
    color: var(--font-color);
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 5px;
  }

  .title span {
    color: var(--font-color-sub);
    font-weight: 600;
    font-size: 17px;
  }

  .input {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
  }

  .input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
  }

  .input:focus {
    border: 2px solid var(--input-focus);
  }
  #role{
    width:17rem;
    height:3.2rem;
  }
  .login-with {
    display: flex;
    gap: 20px;
  }

  .button-log {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    color: var(--font-color);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon {
    width: 24px;
    height: 24px;
    fill: var(--main-color);
  }

  .button-log:active, .button-confirm:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
  }

  .button-confirm {
    margin: 0.2rem auto 0 auto;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
  }

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card {
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 22em;
    max-width: 80%;
    padding: 2em 0;
    background: lightblue;
    box-shadow: 0 0 6px 0 rgba(32, 32, 36, 0.12);
    transition: all 0.35s ease;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 4px 4px black;
  }

  .card::before, .card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: beige;
    height: 4px;
  }

  .card::before {
    width: 0;
    opacity: 0;
    transition: opacity 0 ease, width 0 ease;
    transition-delay: 0.5s;
  }

  .card::after {
    width: 100%;
    background: beige;
    transition: width 0.5s ease;
  }

  .card .content {
    width: 18em;
    max-width: 80%;
  }

  .card .logo {
    margin: 0 0 1em;
    width: 10.625em;
    transition: all 0.35s ease;
  }

  .card .h6 {
    color: rgb(231, 231, 185);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 0 3px #030303;
  }

  .card .hover_content {
    overflow: hidden;
    max-height: 0;
    transform: translateY(1em);
    transition: all 0.55s ease;
  }

  .card .hover_content p {
    margin: 1.5em 0 0;
    color: #6E6E70;
    line-height: 1.4em;
  }

  .card:hover {
    width: 24em;
    box-shadow: 0 10px 20px 0 rgba(32, 32, 36, 0.12);
  }

  .card:hover::before {
    width: 100%;
    opacity: 1;
    transition: opacity 0.5s ease, width 0.5s ease;
    transition-delay: 0;
  }

  .card:hover::after {
    width: 0;
    opacity: 0;
    transition: width 0 ease;
  }
  .logo{
    font-family:serif;
  }
  .card:hover .logo {
    margin-bottom: 0.5em;
  }

  .card:hover .hover_content {
    max-height: 10em;
    transform: none;
  }

  h1{
  margin-bottom:0rem;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0rem;
  }

  h2{
    font-size: 6rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    color:lightblue;
    text-shadow: 1px 2px 5px rgb(2, 73, 97);
  }